.card {
    background-color: lightslategray;
    padding: 10px;
    margin-right: 40px;
    border-radius: 7px;
    display: inline-block;
    text-align: center;

}

img {
    border-radius: 7px;
}

.codProduto {
    padding: 5px;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium';
    color: blue;
}

.nomeProduto {
    padding: 5px;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium';
}

.valorProduto {
    margin-top: 10px;
    padding: 5px;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium';
}

.divPrincipal {
    background-color: lightslategray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    width: 80%;
    height: 80%;

}