
.inserir-container{
    border-radius: 10px;
    padding: 30px;
 
}

.select {
    padding: 12px;
    margin-bottom: 50px;
}

.botao{
    padding: 5px;
    margin-bottom: 40px;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0 5px;
    position:relative;
    left: 5%;
    background-color:rgb(100, 97, 94);
    border-radius: 8px;
    color: white;
}